server:
  port: 8087

spring:
  application:
    name: cart-service

  redis:
    host: redis
    port: 6379

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

logging:
  level:
    org.springframework.cloud.openfeign: DEBUG
